## Environment variables for docker-compose command
## Mysql for localhost only
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=yiicms
## For XAMPP | LIVE SERVER
MYSQL_USER=root 
MYSQL_PASSWORD=

## For DOCKER
#MYSQL_USER=test 
#MYSQL_PASSWORD=test

# APPLICATION CONFIG
APP_NAME="Yii CMS"
#APP_CHARSET=utf-8
#APP_ENV=dev # [dev | test | prod]
#APP_DEBUG=true # use 'false' in production

# DATABASE CONFIG
## For XAMPP MACOS
DB_HOST=127.0.0.1
## For XAMPP WIN | LIVE SERVER
## DB_HOST=localhost
## For DOCKER
#DB_HOST=mysql
DB_CONNECTION=mysql
DB_PORT=3306
DB_USER=${MYSQL_USER}
DB_PASSWORD=${MYSQL_PASSWORD}
DB_NAME=${MYSQL_DATABASE}
DB_USE_CACHE=false # use 'true' in production

# BACKEND CONFIG URL
## ENABLE FOR LIVE SERVER | XAMPP
BACKEND_HOMEURL=/admin
BACKEND_BASEURL=/admin/

## Set Empty for Docker
#BACKEND_HOMEURL=
#BACKEND_BASEURL=

# Set recaptcha key
GOOGLE_RECAPTCHA_SITE=
GOOGLE_RECAPTCHA_SECRET=
